.company {
  width: 170px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  .company-title {
    font-size: 20px;
    font-weight: 600;
    color: #e4ec0d;
    padding-bottom: 15px;
  }

  .company__content {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;
    font-size: 16px;

    .company-button {
      cursor: pointer;
      font-size: 16px;
      width: 18px;
      height: 18px;
      margin-right: 20px;
    }
  }
}

.discount {
  width: 170px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  .discount-title {
    font-size: 20px;
    font-weight: 600;
    color: #e4ec0d;
    padding-bottom: 15px;
  }

  .discount__content {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;
    font-size: 16px;

    .discount-button {
      cursor: pointer;
      font-size: 16px;
      width: 18px;
      height: 18px;
      margin-right: 20px;
    }
  }
}

.category {
  width: 170px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  .category-title {
    font-size: 20px;
    font-weight: 600;
    color: #e4ec0d;
    padding-bottom: 15px;
  }

  .category__content {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;
    font-size: 16px;

    .category-button {
      cursor: pointer;
      font-size: 16px;
      width: 18px;
      height: 18px;
      margin-right: 20px;
    }
  }
}

.popular {
  width: 200px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 40px;

  .popular-title {
    color: #e4ec0d;
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
  }

  .popular-button {
    cursor: pointer;
    font-size: 16px;
    width: 18px;
    height: 18px;
  }
}
