<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="win" onclick="event.stopPropagation()">
    <h2 class="buy-title">Personal details </h2>
    <div class="buy-item">
      <input class="buy-item_input" type="text" placeholder="Name" name="" id="">
    </div>
    <div class="buy-item">
      <input class="buy-item_input" type="text" placeholder="Delivery address" name="" id="">
    </div>
    <div class="buy-item">
      <input class="buy-item_input" type="tel" placeholder="Phone" name="" id="">
    </div>
    <div class="buy-item">
      <input class="buy-item_input" type="email" placeholder="E-mail" name="" id="">
    </div>
  </div>
</body>
</html>